body{
  padding-top: 50px;
}

.intro{
  padding: 40px 15px;
  text-align: center;
}

@mixin center-block(){
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.optionBlock{
    text-align: center;
    @include center-block();
}

.musicBlock{
    @extend .optionBlock;
}

