{% extends "default.html" %}
{% block content %}
<div class='intro'>
    <h1>RelevantMusic</h1>
    <h2>Instantly play appropriate music for your tabletop campaign!</h2>
</div>
<div class ='row' id="firstRow"></div>
    <div class='col-md-4' id='firstColumn'></div>
    <div class='col-md-4' id='middleColumn'></div>
    <div class='col-md-4'></div>
<div class ='row'>
    <div class='col-md-4'>
        <button type="button" class="btn btn-primary btn-lg btn-block optionBlock"><h3>Combat</h3></button>
    </div>
    <div class='col-md-4'>
        <button type="button" class="btn btn-primary btn-lg btn-block musicBlock"><h3>General</h3></button>
    </div>
    <div class='col-md-4'>
        <button type="button" class="btn btn-primary btn-lg btn-block optionBlock"><h3>Non-Combat</h3></button>
    </div>
</div>
{% endblock %}